__pycache__/
.ipynb_checkpoints/

*.pyc
*.pyo

venv/
.env/

data/raw/
data/intermediate/

*.DS_Store
models/rf_bandgap_model.joblib
notebooks/models/rf_bandgap_model.joblib
models/rf_bandgap_model.joblib
